If:
  PathMatch: .*\.cpp

CompileFlags:
  Add: [-Wall -Werror -pedantic -Wextra -Wconversion -O3 -std=c++20]

---

If:
  PathMatch: .*\.c

CompileFlags:
  Add: [-Wall -Werror -pedantic -Wextra -Wconversion -O3 -std=c17]